*{
	box-sizing: border-box;
}
body{
	font-family: cursive;
}
h1{
	text-align: center;
	font-size: 175%;

}
.section1  {	background-color: #bdbdbd; 
	border: 1px black solid;
	position: relative;
	padding-left: 2.5%;
}
.section2  {	background-color: #bdbdbd; 
	border: 1px black solid;
	position: relative;
	padding-left: 2.5%;
}
.section3  {	background-color: #bdbdbd; 
	border: 1px black solid;
	position: relative;
	padding-left: 2.5%;
}
.head1{
	text-align: center;
	font-size: 125%;
	background-color: #ff6200;
	border: 1px black solid;
	position: relative;
	width: 25%;
	margin-left: 100%;
	float: right;
}
.head2{
	text-align: center;
	font-size: 125%;
	background-color: #ffff00;
	border: 1px black solid;
	position: relative;
	width: 25%;
	margin-left: 100%;
	float: right;
}
.head3{
	text-align: center;
	font-size: 125%;
	background-color: #48ff00;
	border: 1px black solid;
	position: relative;
	width: 25%;
	margin-left: 100%;
	float: right;
}
@media (min-width: 992px){
	.section1{
		margin-left: 1.75%;
		float: left;
		width: 31%; 
	}
	.section2{
		margin-left: 1.75%;
		float: left;
		width: 31%; 
	}
	.section3{
		margin-left: 1.75%;
		float: left;
		width: 31%; 

	}
}
@media (min-width: 768px) AND (max-width: 991px){
	.section1{
		margin-left: 2%;
		margin-bottom: 2%;
		float: left;
		width: 47%; 
	}
	.section2{
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 2%;
		float: left;
		width: 47%; 
	}
	.section3{
		margin-left: 2%;
		float: left;
		width: 96%; 

	}
}
@media (max-width: 767px){
	.section1{
		margin-bottom: 2%;
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
	.section2{
		margin-bottom: 2%;
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
	.section3{
		margin-bottom: 2%;
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
}